extends ../layouts/master.pug

block loader
  include ../partials/_loader.pug

block header
  include ../partials/_header-fixed.pug

block content
  main.page-main
    section.index-slider
      .indexSlider.swiper-container(data-effect='fade')
        .swiper-wrapper.parallax-box(data-aos='', data-aos-delay='3000', data-hook="0")
          - for (let x = 1; x < 3; x++)
            .swiper-slide
              .slider-back.parallax-item
                .image(style='background: url("assets/images/slide.jpg") no-repeat center / cover')
              .container.relative
                .index-slider-title
                  .revealOut(data-aos='')
                    h2.revealIn Фильтры
                  .revealOut(data-aos='')
                    h2.revealIn прямой
                  .revealOut(data-aos='')
                    h2.revealIn намотки
                  .revealOut(data-aos='')
                    h2.revealIn.title-icon
                      +img('alfa.svg')
                      span АльфаДирект
                .index-slider-desc
                  p Высокопрочные проволочные #[br] фильтры для наземных #[br] и&nbsp;оффшорных месторождений #[br] нефти и газа
                  a.btn.btn--primary(href='#')
                    span
                    | Подробнее
            .swiper-slide
              .slider-back.parallax-item
                .image(style='background: url("assets/images/slide1.jpg") no-repeat center / cover')
              .container.relative
                .index-slider-title
                  .revealOut(data-aos='')
                    h2.revealIn Фильтры
                  .revealOut(data-aos='')
                    h2.revealIn прямой
                  .revealOut(data-aos='')
                    h2.revealIn намотки
                  .revealOut(data-aos='')
                    h2.revealIn.title-icon
                      +img('alfa.svg')
                      span АльфаДирект
                .index-slider-desc
                  p Высокопрочные проволочные #[br] фильтры для наземных #[br] и&nbsp;оффшорных месторождений #[br] нефти и газа
                  a.btn.btn--primary(href='#')
                    span
                    | Подробнее
        .container.relative
          .swiper-pagination(data-aos='fade-up', data-aos-delay='500')
    section.index-layout
    section.index-services
      .row.tabbed-content
        .col.col__lg-4.col__md-6.col__xs-12.index-services__item
          .index-services-title
            span
            | Сервис
            span
          .tabs.tabs--services
            a.tab.active(href='#project') Проектирование #[br] и инжиниринг
            a.tab(href='#test') Тестирование
            a.tab(href='#escort') Сопровождение
        .col.col__lg-8.col__md-6.col__xs-12.index-services__item
          #project.item.active(data-title="Проектирование и инжиниринг")
            .item-content
              .row
                .col.col__md-6.cols__xs-12
                  ul.list--bullet
                    li
                      span.long-arrow-right
                      | Механические тесты #[span] на&nbsp;прочность фильтров
                    li
                      span.long-arrow-right
                      | Лазерно-оптический контроль #[span] щелевых зазоров
                    li
                      span.long-arrow-right
                      | Тесты пропускной способности #[span] фильтров
                .col.col__md-6.cols__xs-12
                  ul.list--bullet
                    li
                      span.long-arrow-right
                      | Гидравлические тесты на смятие #[span] и&nbsp;разрыв
                    li
                      span.long-arrow-right
                      | Тесты по методикам разрушающего #[span] и&nbsp;неразрущающего контроля
                .col.col__xs-12.text--center
                  +img('tab.jpg')
          #test.item(data-title="Тестирование")
            .item-content
              .row
                .col.col__md-6.cols__xs-12
                  ul.list--bullet
                    li
                      span.long-arrow-right
                      | Анализ скважинных условий #[span] для&nbsp;разработки дизайна хвостовика
                    li
                      span.long-arrow-right
                      | Моделирование работы скважины #[span] кандидата с&nbsp;различными УКП
                    li
                      span.long-arrow-right
                      | Подбор и расстановка элементов #[span] компоновки заканчивания по зонам
                .col.col__md-6.cols__xs-12
                  ul.list--bullet
                    li
                      span.long-arrow-right
                      | Гидравличекие расчеты с оценкой появления #[span] потенциальных зон прорыва воды и газа
                    li
                      span.long-arrow-right
                      | Моделирование спуска компоновки #[span] хвостовика
                .col.col__xs-12.text--center
                  +img('tab2.jpg')
          #escort.item(data-title="Сопровождение")
            .item-content
              .row
                .col.col__md-6.cols__xs-12
                  ul.list--bullet
                    li
                      span.long-arrow-right
                      | Тщательная проработка ТЗ #[span] и&nbsp;условий контракта
                    li
                      span.long-arrow-right
                      | Контроль качества на всех #[span] этапах выполнения контракта
                .col.col__md-6.cols__xs-12
                  ul.list--bullet
                    li
                      span.long-arrow-right
                      | Мобилизация персонала #[span] и&nbsp;оборудования для проведения ИТС
                    li
                      span.long-arrow-right
                      | Выполнение технологических операций #[span] на&nbsp;месторождениях Заказчика
                .col.col__xs-12.text--center
                  +img('tab3.jpg')
      a.btn.btn--primary(href='#')
        span
        | Все услуги
    section.index-projects
      .row
        .col.col__lg-4.col__md-6.col__xs-12.index-projects__item
          .index-services-title
            span
            | Проекты
            span
          ul.filters--js.menu-maps
            li(
              data-icon="assets/images/icons/bubbleb.svg",
              data-group="assets/images/icons/markerb.svg",
              data-coordinates=['59.91701049, 30.31812429', '59.91916157, 30.3251195']
            )
              span
              | Сервис, поставки
            li(
              data-icon="assets/images/icons/bubblel.svg",
              data-group="assets/images/icons/markerl.svg",
              data-coordinates=['59.91756978, 30.31812429', '59.92049517, 30.33250093', '59.91701049, 30.3276515']
            )
              span
              | Выставки и конференции
            li(
              data-icon="assets/images/icons/bubble.svg",
              data-group="assets/images/icons/marker.svg",
              data-coordinates=['59.92256978, 30.31812429', '59.92349517, 30.33250093', '59.92401049, 30.3276515']
            )
              span
              | Партнерские проекты
          a.btn.btn--primary(href='#')
            span
            | Все проекты
        .col.col__lg-8.col__md-6.col__xs-12.index-projects__item
          #googleMaps

block footer
  include ../partials/_footer.pug
