extends ../layouts/master.pug

block pageName
  - const pageName = "fixed"

block header
  include ../partials/_header-fixed

block content
  main.page-main
    section.index-slider
      .swiper-container.main-slider.loading.main-slider(data-video-url=[
        {
          "url": "https://player.vimeo.com/external/447156804.hd.mp4?s=bfcf7ab611645e536a28047381071dfc62c41750&amp;profile_id=175",
          "id": 0
        },
        {
          "url": "https://player.vimeo.com/external/445162918.hd.mp4?s=b2ed16d760e59e6cb568183ea9487bcd3d2cdb51&amp;profile_id=175",
          "id": 1
        },
        {
          "url": "https://player.vimeo.com/external/444473813.hd.mp4?s=a05aee1bfa148eeeef5a0b3c6cae283cfbf65514&amp;profile_id=175",
          "id": 2
        },
        {
          "url": "https://player.vimeo.com/external/438237084.hd.mp4?s=5e8456be81bab2210d53f87eb28624c7ecd5056c&amp;profile_id=175",
          "id": 3
        },
        {
          "url": "https://player.vimeo.com/external/424723312.hd.mp4?s=75da6ed3aaa94497afbd8e3d86854cf8e3b1933e&amp;profile_id=175",
          "id": 4
        },
      ])
        .swiper-wrapper
          +mainSlider(index.slider)
        .container.relative
          .swiper-pagination(data-aos='fade-up', data-aos-delay='500')
    section.index-layout
    section.index-services
      .row.tabbed-content
        .col.col__xl-4.col__lg-6.col__md-5.col__xs-12.index-services__item
          .revealOut(data-aos='')
            .index-services-title.revealIn
              span
              | Сервис
              span
          .tabs.tabs--services(data-aos='fade-up')
            a.tab.active(href='#project') Проектирование #[br] и инжиниринг
            a.tab(href='#test') Тестирование
            a.tab(href='#escort') Сопровождение
        .col.col__xl-8.col__lg-6.col__md-7.col__xs-12.index-services__item
          .ratio.ratio1-1
            .ratio-inner
              #project.item.active(data-title="Проектирование и инжиниринг")
                .item-content(style='background-image: url("assets/images/tab11.jpg")')
                  .row
                    .col.col__xl-6.col__xs-12
                      ul.list--bullet(data-aos='fade-up')
                        li: a(href='#')
                            +arrow()
                            | Механические тесты #[span] на&nbsp;прочность фильтров
                        li: a(href='#')
                            +arrow()
                            | Лазерно-оптический контроль #[span] щелевых зазоров
                        li: a(href='#')
                            +arrow()
                            | Тесты пропускной способности #[span] фильтров
                    .col.col__xl-6.col__xs-12
                      ul.list--bullet(data-aos='fade-up')
                        li: a(href='#')
                            +arrow()
                            | Гидравлические тесты на смятие #[span] и&nbsp;разрыв
                        li: a(href='#')
                            +arrow()
                            | Тесты по методикам разрушающего #[span] и&nbsp;неразрущающего контроля
                    .col.col__xs-12.text--center.showOnMobile(data-aos='fade-up')
                      +img('tab11.jpg')
              #test.item(data-title="Тестирование")
                .item-content(style='background-image: url("assets/images/tab12.jpg")')
                  .row
                    .col.col__xl-6.col__xs-12
                      ul.list--bullet(data-aos='fade-up')
                        li: a(href='#')
                            +arrow()
                            | Анализ скважинных условий #[span] для&nbsp;разработки дизайна хвостовика
                        li: a(href='#')
                            +arrow()
                            | Моделирование работы скважины #[span] кандидата с&nbsp;различными УКП
                        li: a(href='#')
                            +arrow()
                            | Подбор и расстановка элементов #[span] компоновки заканчивания по зонам
                    .col.col__xl-6.col__xs-12
                      ul.list--bullet(data-aos='fade-up')
                        li: a(href='#')
                            +arrow()
                            | Гидравличекие расчеты с оценкой появления #[span] потенциальных зон прорыва воды и газа
                        li: a(href='#')
                            +arrow()
                            | Моделирование спуска компоновки #[span] хвостовика
                    .col.col__xs-12.text--center.showOnMobile(data-aos='fade-up')
                      +img('tab12.jpg')
              #escort.item(data-title="Сопровождение")
                .item-content(style='background-image: url("assets/images/tab13.jpg")')
                  .row
                    .col.col__xl-6.col__xs-12
                      ul.list--bullet(data-aos='fade-up')
                        li: a(href='#')
                            +arrow()
                            | Тщательная проработка ТЗ #[span] и&nbsp;условий контракта
                        li: a(href='#')
                            +arrow()
                            | Контроль качества на всех #[span] этапах выполнения контракта
                    .col.col__xl-6.col__xs-12
                      ul.list--bullet(data-aos='fade-up')
                        li: a(href='#')
                            +arrow()
                            | Мобилизация персонала #[span] и&nbsp;оборудования для проведения ИТС
                        li: a(href='#')
                            +arrow()
                            | Выполнение технологических операций #[span] на&nbsp;месторождениях Заказчика
                    .col.col__xs-12.text--center.showOnMobile(data-aos='fade-up')
                      +img('tab13.jpg')
      div(data-aos='fade-up', data-aos-offset='-20'): +buttonSVGMD('Все услуги', '', "#323232")
    section.index-projects
      .row
        .col.col__xl-4.col__lg-6.col__md-5.col__xs-12.index-projects__item
          .revealOut(data-aos='')
            .index-services-title.revealIn
              span
              | Проекты
              span
          ul.filters--js.menu-maps
            li(
              data-aos='fade-up'
              data-icon="assets/images/icons/bubbleb.svg",
              data-group="assets/images/icons/markerb.svg",
              data-coordinates=['59.91701049, 30.31812429', '59.91916157, 30.3251195']
              data-popup=[
                [
                  'Россия, Сергиев Посад — 2019 г',
                  'Тест на кручение фильтра АльфаДирект',
                  'Реализация  механических испытаний фильтра прямой намотки АльфаДирект на выдерживаемый крутящий момент',
                  'Партнерские проекты',
                  'assets/images/popup.jpg',
                  '#',
                ],
                [
                  'Россия, Сергиев Посад — 2020 г',
                  'Тест на кручение фильтра АльфаДирект',
                  'Реализация  механических испытаний фильтра прямой намотки АльфаДирект на выдерживаемый крутящий момент',
                  'Партнерские проекты',
                  'assets/images/popup.jpg',
                ]
              ]
            )
              span
              | Сервис, поставки
            li(
              data-aos='fade-up'
              data-icon="assets/images/icons/bubblel.svg",
              data-group="assets/images/icons/markerl.svg",
              data-coordinates=['59.91756978, 30.31812429', '59.92049517, 30.33250093', '59.91701049, 30.3276515']
              data-popup=[
                [
                  'Россия, Сергиев Посад — 2018 г',
                  'Тест на кручение фильтра АльфаДирект',
                  'Реализация  механических испытаний фильтра прямой намотки АльфаДирект на выдерживаемый крутящий момент',
                  'Партнерские проекты',
                  'assets/images/popup.jpg',
                  '#',
                ],
                [
                  'Россия, Сергиев Посад — 2017 г',
                  'Тест на кручение фильтра АльфаДирект',
                  'Реализация  механических испытаний фильтра прямой намотки АльфаДирект на выдерживаемый крутящий момент',
                  'Партнерские проекты',
                  'assets/images/popup.jpg',
                  '#',
                ],
                [
                  'Россия, Сергиев Посад — 2016 г',
                  'Тест на кручение фильтра АльфаДирект',
                  'Реализация  механических испытаний фильтра прямой намотки АльфаДирект на выдерживаемый крутящий момент',
                  'Партнерские проекты',
                  'assets/images/popup.jpg',
                  '#',
                ]
              ]
            )
              span
              | Выставки и конференции
            li(
              data-aos='fade-up'
              data-group="assets/images/icons/marker.svg",
              data-icon="assets/images/icons/bubble.svg",
              data-coordinates=['59.92256978, 30.31812429', '59.92349517, 30.33250093', '59.92401049, 30.3276515']
              data-popup=[
                [
                  'Россия, Сергиев Посад — 2019 г',
                  'Тест на кручение фильтра АльфаДирект',
                  'Реализация  механических испытаний фильтра прямой намотки АльфаДирект на выдерживаемый крутящий момент',
                  'Партнерские проекты',
                  'assets/images/popup.jpg',
                  '#',
                ],
                [
                  'Россия, Сергиев Посад — 2019 г',
                  'Тест на кручение фильтра АльфаДирект',
                  'Реализация  механических испытаний фильтра прямой намотки АльфаДирект на выдерживаемый крутящий момент',
                  'Партнерские проекты',
                  'assets/images/popup.jpg',
                  '#',
                ],
                [
                  'Россия, Сергиев Посад — 2019 г',
                  'Тест на кручение фильтра АльфаДирект',
                  'Реализация  механических испытаний фильтра прямой намотки АльфаДирект на выдерживаемый крутящий момент',
                  'Партнерские проекты',
                  'assets/images/popup.jpg',
                  '#',
                ]
              ]
            )
              span
              | Партнерские проекты
          .hideOnMobile
            div(data-aos='fade-up'): +buttonSVGMD('Все проекты', '', "#323232")
        .col.col__xl-8.col__lg-6.col__md-7.col__xs-12.index-projects__item(data-aos='fade-up')
          include ../components/_map
      .showOnMobile
        .index-projects-btn(data-aos='fade-up'): +buttonSVGMD('Все проекты', '', "#323232")

block footer
  include ../partials/_footer.pug
